/* .card {
  width: 1250px;
}

.card-container {
  display: flex;
  justify-content: center;
} */


.card-img-top {
  height: 300px;
  border: 5px solid black;
}

.card-body {
  border: 5px solid black;
  text-align: center;
}

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-label {
  display: flex;
  justify-content: center;
  font-weight: bolder;
}

#sortButton2 {
  display: flex;
  justify-content: center;
}

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-bottom: 20px;
}

table th, table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table th {
  background-color: #4CAF50;
  color: white;
}

h2 {
  margin-top: 20px;
}

button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
